.game-board {
    padding: 0px;
    margin: 0px;
    gap: 2px;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,33%));
}

.grid-pos {
    padding: 0px;
    margin: 0px;
    border: solid 1px black;
}